.btn {
  display: inline-block;
  border-radius: 3px;
  padding: 7px 12px;
  border: 1px solid #D5D5D5;
  background-image: linear-gradient(#EEE, #DDD);
  font: 700 13px/18px Helvetica, Arial;
}

.btn--success {
  color: #FFF;
  background: #4CAF50 linear-gradient(#66BB6A, #4CAF50) repeat-x;
  border-color: #388E3C;
}

.btn--danger {
  color: #D32F2F;
  background: #FFCDD2 linear-gradient(#EF9A9A, #FFCDD2) repeat-x;
  border-color: #B71C1C;
}

.btn__icon {
  margin-right: 5px;
}

.btn__text {
  vertical-align: middle;
}