.container {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.title {
    text-align: center;
}

.form {
    background-color: #ffffcd;
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
}

.label {
    color: blue;
}

td {
    border: 2px blue solid;
    padding: 10px;
}

.name-input {
    width: 300px;
}

.submit-btn {
    cursor: pointer;
    padding: 5px;
    width: 90px;
}

.submit-btn-row {
    text-align: center;
}

.notif {
    color: red;
    font-weight: bold;
    text-align: center;
}

select {
    width: 130px;
}

.so-luong-box {
    border: 2px black solid;
    padding: 20px 10px 10px 10px;
    width: 500px;
    margin: 10px auto;
    position: relative;
}

.label-so-luong {
    position: absolute;
    top: -26px;
    left: 12px;
    background-color: #ffffcd;
    padding: 0 3px
}