body {
    background-image: url('./images/background.gif');
    background-repeat: repeat-y;
    background-size: contain;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-top: 60px;
}

.content {
    background-color: black;
    width: 628px;
    margin: 0 auto;
    font-size: 13px;
}

.footer {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 100px;
}

.underline-red {
    text-decoration: underline;
    color: red;
}