* {
    margin: 0;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.header-background {
    height: 130px;
    background-image: url(./images/nen-hoa-co.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    text-align: center;
    padding-top: 35px;
    color: white;
    text-shadow: 4px 4px 3px purple;
    font-size: 40px;
}

.main-layout {
    display: flex;
    min-height: 100vh;
}

.mucluc {
    position: relative;
    background-image: url(./images/bg-mucluc.png);
    background-size: contain;
    width: 315px;
}

.nenhoa {
    position: absolute;
    bottom: 0;
    left: 0;
}

.sidebar {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 10px;
    position: absolute;
}

a {
    margin: 2px 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}

a:hover {
    color: yellow;
}


.sidebar p {
    position: relative;
    padding-left: 20px; 
    margin: 3px 0;
    background-image: url(./images/nen-lien-ket-muc-luc.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px 25px;
}

.marker {
    content: ""; 
    position: absolute;
    left: 0; 
    top: 50%; 
    transform: translateY(-50%);
    width: 8px; 
    height: 8px; 
    border-radius: 50%; 
    background-color: white; 
    margin-left: 10px;
}



/* ------------------------------MẸ---------------------- */

.content-container {
    width: 100%;
}

.header-content-me {
    background-color: rgb(254, 201, 253);
    text-align: center;
}

.header-content-me h1 {
    font-size: 50px;
    padding: 20px 0;
    margin: 0;
    color: rgb(233, 22, 150);
}


.content-me {
    font-style: italic;
    font-size: 25px;
    background-color: rgb(252, 254, 204);
    text-align: center;
}

.text-blue-me {
    padding-top: 20px;
    color: rgb(0, 0, 218);
}

.text-violet-me {
    color: blueviolet;
}

.text-green-me {
    padding-bottom: 20px;
    color: rgb(0, 176, 0);
}


.line-me {
    width: 500px;
    height: 2px;
    background-color: black;
    border: none;
    margin: 15px auto;
}

/* -------------------------------PHÚ QUỐC------------------------ */

.content-container-phuquoc {
    background-image: url(./images/hoang-hon-phu-quoc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 100%;
}

.header-container-phuquoc {
    margin-top: 40px;
}

.header-phuquoc {
    text-align: center;
    color: yellow;
}

.content-wrapper-phuquoc {
    margin: 0 120px;
}

.section-phuquoc {
    margin-bottom: 20px;
}

.paragraph-phuquoc {
    color: white;
    font-style: italic;
    text-indent: 50px;
}

.subheader-phuquoc {
    color: red;
}

.subheader-phuquoc:nth-of-type(2) {
    color: orange;
}

.subheader-phuquoc:nth-of-type(3) {
    color: rgb(58, 247, 0);
}

.subheader-phuquoc:nth-of-type(4) {
    color: #fd00fe;
}

/* -------------------------------ĐỊNH DẠNG VĂN BẢN------------------------ */
.center-text-dinhdang {
    text-align: center;
    margin: 20px auto;
}

.highlight-text-dinhdang {
    color: rgb(51, 216, 0);
}

.italic-text-dinhdang {
    font-style: italic;
    padding: 0 25%;
}

.italic-text-dinhdang>p {
    margin: 10px auto;
}

.underline-bold-dinhdang {
    text-decoration: underline;
    font-style: normal;
}

.code-block-dinhdang {
    display: block;
    background-color: rgb(235, 235, 235);
    width: 700px;
    padding: 10px 0;
    color: blue;
}

.normal-font-dinhdang {
    font-style: normal;
}

.red-text-dinhdang {
    color: red;
}
