body {
    background-image: url(./images/nguyen-tac-trong-thiet-ke-do-hoa.jpg);
    background-repeat: repeat-x;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

.my-header-container>h1 {
    color: #00ff01;
    margin-bottom: 20px;
}

.desc {
    margin-top: 128px;
    text-align: center;
}

.my-table {
    margin: 0 auto;
    border: 7px #00ff01 solid;
    width: 700px;
}

.table-header {
    background-color: #00ff01;
    color: white;
    font-weight: bold;
}

td {
    padding: 5px;
    border: #00ff01 2px solid;
}

.table-header>td {
    padding: 10px;
    border: #00ff01 2px solid;
}

.even {
    background-color: #99ffff;
}

.last {
    background-color: #ff9900;
}

.ten-mon-hoc {
    text-align: left;
}

.footer-image>img {
    position:absolute;
    z-index: -1;
    bottom: 0;
    left: 50px;
}